<h2>How do I create a <em>What's Up</em>?</h2>
<ol>
    <li>Create a project plan in Microsoft Project</li>
    <Li>Export the project plan to .CSV (ensuring required field as included in the export)</Li>
    <li>Navigate to a project on this site, or create a new project</li>
    <li>Upload your Microsoft Project plan file - <mark>in .CVS format</mark> - to the a project</li>
    <li><em>What's Up</em> will download a new .CSV file for your project that includes a task line items for each project: starting, continuing and finishing for each week of your project</li>
</ol>

