<div class ="jumbotron">
    <h1>Whats's Up...</h1>
    <p>What is a <em>What's Up?</em> It is a view of a Microsoft Project plan focused on the tasks for a specific week:
        <ul>
            <li>Those that should have been completed by the week in question</li>    
            <li>Those that are scheduled to start in the week</li>
            <li>Those that started in a previous week and continue through the week</li>
            <li>Those that are scheduled to finish in the week</li>
        </ul>
    </p>
    <p><a class="btn btn-primary btn-lg" role="button">Create a What's Up</a></p>
</div>
